<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="CONSOLE" />
        <Elasticsearch name="elasticsearchAsyncBatch" messageOnly="true" >
            <JsonLayout compact="true" />
            <AsyncBatchDelivery indexName="sampleapp"
                                batchSize="10000"
                                deliveryInterval="3000" >
                <JestHttp serverUris="http://localhost:9200"
                          connTimeout="500"
                          readTimeout="5000"
                          maxTotalConnection="40"
                          defaultMaxTotalConnectionPerRoute="4" />
                <!--
                <ElasticsearchBulkProcessor serverUris="tcp://localhost:9300" />
                -->
                <NoopFailoverPolicy />
            </AsyncBatchDelivery>
        </Elasticsearch>
        <Async name="asyncLogger">
            <AppenderRef ref="elasticsearchAsyncBatch" />
        </Async>
    </Appenders>

    <Loggers>
        <AsyncLogger name="elasticsearch" level="info" additivity="false">
            <AppenderRef ref="asyncLogger" />
        </AsyncLogger>
        <Logger name="org.elasticsearch" level="trace">
            <AppenderRef ref="CONSOLE" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="CONSOLE" />
        </Root>
    </Loggers>

</Configuration>