<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="CONSOLE" />
        <Elasticsearch name="samples" messageOnly="true">
            <IndexName indexName="samples" />
            <AsyncBatchDelivery batchSize="50000"
                                deliveryInterval="500" >
                <IndexTemplate name="template4" path="d:/workspace/indexTemplate.json" />
                <JestHttp serverUris="http://localhost:9200"
                          connTimeout="500"
                          readTimeout="30000"
                          defaultMaxTotalConnectionPerRoute="8" />
                <!--<ElasticsearchBulkProcessor serverUris="tcp://localhost:9300">-->
                    <!--<XPackAuth>-->
                        <!--<PlainCredentials username="admin" password="changeme" />-->
                        <!--<PEM keyPath="${sys:certInfo.keyPath}"-->
                             <!--clientCertPath="${sys:certInfo.clientCertPath}"-->
                             <!--caPath="${sys:certInfo.caPath}" />-->
                    <!--</XPackAuth>-->
                <!--</ElasticsearchBulkProcessor>-->
            </AsyncBatchDelivery>
        </Elasticsearch>
        <Async name="asyncSamples">
            <AppenderRef ref="samples" />
        </Async>

    </Appenders>

    <Loggers>
        <AsyncLogger name="samples" level="info" additivity="false">
            <AppenderRef ref="asyncSamples" />
        </AsyncLogger>
        <Logger name="org.elasticsearch" level="info">
            <AppenderRef ref="CONSOLE" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="CONSOLE" />
        </Root>
    </Loggers>

</Configuration>